.projects__container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-content {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 3rem;
  margin-top: 1rem;
}

.project-content {
  margin: 1rem 0;
  background-color: var(--bg-secondary);
  border-radius: 2rem;
  /* width: 46%; */
  width: 100%;
  position: relative;
}

.projects__container .swiper-wrapper {
  width: 10px;
}

.projects__container .swiper-pagination-bullet-active {
  background: var(--color-light);
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next {
  color: var(--color-light);
}

.project-content img {
  height: 19rem;
  padding: 2rem 3rem;
}

.project-content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--color-white);
  padding: 2rem;
  padding-bottom: 4.5rem;
}

.project-content-body h3 {
  margin-bottom: 1rem;
}

.project-content-body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-content-body p {
  color: var(--color-light);
}

.tech-stack-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg-tertiary);
  width: max-content;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.tech-stack-icons article {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.tech-stack-icons article div {
  font-size: 2rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
}

.tech-stack-icons article span {
  position: absolute;
  bottom: -2.5rem;
  color: var(--color-light);
  opacity: 0;
  transition: var(--transition-fast);
}

.tech-stack-icons article div:hover + span {
  opacity: 1;
}

.project-content-body a {
  display: block;
  width: 90%;
  background-color: var(--color-primary);
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 2rem;
  color: var(--color-white);
  border: 2px solid transparent;
  transition: var(--transition-fast);
  font-size: 1.1rem;
  position: absolute;
  bottom: 0.5rem;
}

.project-content-body a:hover {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  background-color: var(--bg-primary);
}

@media screen and (max-width: 950px) {
  .projects-content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .projects-content img {
    height: 15rem;
  }
}
@media screen and (max-width: 460px) {
  .projects-content img {
    height: 13rem;
  }
}
